name: Node CI
on: [push, pull_request]
jobs:
  audit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: security audit, fail for critical findings
        run: |
          npm audit --audit-level critical
  build-and-test:
    name: "Unit Tests"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14, 16]
    steps:
      - uses: actions/checkout@v2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - name: install
        run: |
          npm install
      - name: test
        run: |
          make -j --output-sync=target test
      - name: Upload Unit Test Results
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: Unit Test Results
          path: test-results/**/*.xml
  publish-test-results:
    name: "Publish Unit Tests Results"
    needs: build-and-test
    runs-on: ubuntu-latest
    # the build-and-test job might be skipped, we don't need to run this job then
    if: success() || failure()
    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v2
        with:
          path: artifacts
      - name: Publish Unit Test Results
        uses: EnricoMi/publish-unit-test-result-action/composite@v1
        with:
          files: artifacts/**/*.xml
  functional-tests:
    name: "Container Tests, Scan"
    runs-on: ubuntu-latest
    env:
      # https://docs.docker.com/engine/security/trust/trust_automation/
      DOCKER_CONTENT_TRUST: 0
    steps:
      - uses: actions/checkout@v2
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - name: install
        run: |
          npm install artillery artillery-plugin-expect
      - name: functional-tests
        run: |
          make -j --output-sync=target functional-tests
      - name: Scan image for security issues
        uses: Azure/container-scan@v0
        env:
          # Skip `won't fix` CVEs
          # See https://github.com/Azure/container-scan/issues/61
          TRIVY_IGNORE_UNFIXED: true
        with:
          image-name: s3proxy:test
          severity-threshold: HIGH
          run-quality-checks: true
      - name: scan container
        run: |
          docker --version
          docker scan s3proxy:test || exit 0
